<ion-grid>
    <ion-row>
        <ion-col>
            <h1>CB</h1>
        </ion-col>
        <ion-col></ion-col>
        <ion-col></ion-col>
        <ion-col>
            <div class="nav-large">
                <ul class="nav-list">
                    <li class="nav-item">
                        <a class="nav-button" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-button" color="primary" href="/ueber-mich">Über Mich</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-button" href="/training">Training</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-button" href="/abonnements">Abonnieren</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-button" href="login">Log In</a>
                    </li>
                </ul>
            </div>


        </ion-col>
    </ion-row>

</ion-grid>